body {
  margin: 0;
  font-family: "Roboto", Arial !important;
  -webkit-font-smoothing: antialised;
  -moz-osx-font-smoothing: grayscale;
  background-color: #d5d4d4; /*Cloudy aspect. Better than plain white*/
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
